@font-face{
    font-family: 'whas';
    src:url("../font/Courgette-Regular.ttf");
  
  }
body{
    color: white;
    font-size: 18px;
    background-color: rgb(0, 27, 87);
}
h1{
    color: white;
    font-family:'whas';
    font-size: 40px;
}
.esquerda{
    
    top:-15em;
    width: 600px;
    text-align: justify;
    position: relative;
   left: 3em;
    
}
.foto-direita{
    position: relative;
    top:-20em;
    width: 600px;
    height: 600px;
}
.foto-esquerda{
    top: -40em;
    position: relative;
    left: 35em;
    width: 700px;
    height: 700px;
}
.direita{
top:100px;
width: 600px;
text-align: justify;
position: relative;
left: 36em;
}
::-webkit-scrollbar { width: 1em; } 
/* Track */ 
::-webkit-scrollbar-track { background: #7C7DA1;
 } 
/* Handle */ 
::-webkit-scrollbar-thumb { background: #424E6B; 
border-radius: 5px;
} 
/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { background: #383954; }