@font-face{
    font-family: 'whas';
    src:url("../font/Courgette-Regular.ttf");
  
  }
body{
  
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}
h1{
    color: white;
    font-family:'whas';
    font-size: 40px;
}
.esquerda{
    
    top:-15em;
    width: 600px;
    text-align: justify;
    position: relative;
   left: 3em;
    
}
.foto-direita{
    position: relative;
    top:-20em;
    width: 600px;
    height: 600px;
}
.foto-esquerda{
    top: -40em;
    position: relative;
    left: 35em;
    width: 700px;
    height: 700px;
}
.direita{
top:100px;
width: 600px;
text-align: justify;
position: relative;
left: 36em;
}
.menu{
    width: 75em;
    height: 2.5em;
    background-color: #02008F; 
}
.menu-flutuante{
    list-style-type: disc;
    box-shadow: 2px 2px 10px #303C75;
    
}
ul{
    display: inline block;
    overflow: hidden;
    list-style-type: none;
}
ul *{
   text-decoration: none;
   color: white;
   
}
li{
    padding: 3px;
    border: 2px solid #472BFF;
    width: 3em;
    background-color: #2A0B59;
    margin: 0.5em;
    border-radius: 20%;
    float: left;
    align-content: center;
    display: block;
    transition: 1s;
    transform: translateX(-1px);
    
}

li a{
    display:block;
    text-align: center;

}

li:hover{

    background-color: #1C37E8;
}

li:active{
transform: translate(12px,5px)
}