body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
header{
  position: relative;
  max-width: 100%;
  padding: 10px;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0 , 0, 0,.2 )
}
.logo{
  text-decoration: none;
  margin-left: -50px;
  margin-top: -30px;
  color: #069370;
  height: 60px;
  font-size: 36px;
  line-height: 60px; 
  padding: 0 20px;
top: -10px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav{
  float: right;
}
.clearfix{
  clear: both;
}
nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  position: sticky;

}
#menu {
  position: sticky;
  top: 0;
 z-index: 1000;
  padding: 8px;
  color: #fff;
  }
nav ul li {
list-style: none;
}
nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a#active,nav ul li a:hover{
  background: #069370;
  color: #fff;
  transition: 0.5s;
}
a{
  font-size: 25px;
}
.tempo{
position: relative;

left: 570px;
top:-130px;
}
